# Windows + DirectML (AMD/Intel/NVIDIA via DirectX 12)
# DO NOT install "torch" separately in this env.
# This package maps to the "PrivateUse1" backend and supports up to torch 2.3.1.

torch-directml==0.2.5.dev240914
torchvision==0.18.1

numpy
matplotlib
tqdm
pillow
